.container{
    flex-direction: row;
    display: flex;
    align-self: center;
    justify-content: center;
}
form{
    border-radius: 3px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    height: 300px;
}
#box{
    transform: translateY(100px);
    display: flex;
    flex-direction: column;
}

.lower{
    /* margin-top: 20px; */
    transform: translateY(-20px);
    display: flex;
    height: 300px;
    width:400px;
    overflow: auto;
    flex-wrap: nowrap;
    background-color: tomato;
    overflow-x: hidden;
    flex-direction: column;
    box-shadow: -3px 3px 8px 3px #333333;
}

body{
    font-family: 'Montserrat', sans-serif;
    /* background-color : #1261A0; */
    background-image: url(4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}
input{
    margin-top: 30px;
    transform: scale(1.4);
    background-color: transparent;
}
label{
    font-size: 20px;
    font-weight: bolder;
}
h1{
    font-family: 'Architects Daughter', cursive;
    font-weight: bolder;
    font-size: 3em;
}

img {
    /* display: block; */
    margin: 10px;
    height: 200px;
    width: 200px;
}
h3{
    
    font-family: 'Architects Daughter', cursive;
}
#upload{
    transform: scale(2);
    border-radius: 3px;
    border:1px solid indigo;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Architects Daughter', cursive;
    
}

.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.classy_frame{
    display: flex;
    flex-direction: column;
}